<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fct.neec.oficial">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />



    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.READ_CALENDAR"/>

    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Content provider -->
        <provider android:name="com.fct.neec.oficial.ClipRequests.provider.ClipMobileProvider"
            android:exported="false"
            android:authorities="@string/provider_authority"> </provider>


        <activity
            android:name="com.fct.neec.oficial.LoadingActivity"
            android:screenOrientation="portrait"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fct.neec.oficial.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegrasSegurança.MyIntro"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MenuPrincipal"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />

        <activity
            android:name=".RegrasSegurança.RegrasDoenca"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".RegrasSegurança.RegrasEvacuacao"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".RegrasSegurança.RegrasIncendio"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".RegrasSegurança.RegrasSismo"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".SemNet"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".AlgoErradoAconteceu"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme" />
    </application>





</manifest>
